.user-icon{
  width: 30px;
  position: relative;
  margin-top: -50rem;
  height: 30px;
  background-color: #007bff; /* You can customize the background color */
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
  font-size: 16px; /* You can adjust the font size */
}

.myindex{
  color: black;
}

.container{
  margin: 0px;
}

#userDropdown {
  position: relative;
  margin-top: -50rem;
  
}
.mb-3 a{
  text-decoration: none;

}
.mb-3 a::before{
  content: " ";
}
button{
  margin: 0 5px 0 5px;
  width: 150px;
}

.h2 , h2{
  margin-left: -1000px;
}

.h1,h1{
  display:flex;
  padding-left: 10px;
  padding-bottom: 10px;
}

.lg{
  margin-left: 10px;
}

.list-group-item{
  display: flex;
}